container_commands:
  01-replace-context-xml:
    command: cp .ebextensions/context.xml /etc/tomcat8/context.xml
  02-replace-catalina-properties:
    command: cp .ebextensions/catalina.properties /etc/tomcat8/catalina.properties
  11-create-managed-libs:
    command: mkdir -p /usr/share/tomcat8/lib-managed
  12-clean-managed-libs:
    command: rm -rf /usr/share/tomcat8/lib-managed/*
  13-deploy-managed-libs:
    command: cp .ebextensions/libs/*.jar /usr/share/tomcat8/lib-managed